{% extends "base.html" %}
<!-- head tag의 타이틀 -->
{% block title %}글 목록{% endblock %}

<!-- 페이지 콘텐츠 영역 -->
{% block container %}
<p>이름 | 제목 | 작성 날짜</p>
<ul>
  <!-- {{ article_list }} -->
  {% for article in  article_list %}
  <li>
    <a href="/community/view_detail/{{ article.id }}/">
      {{ article.title }} 
    </a>| 
    {{ article.name }} | 
    {{ article.email }} | 
    {{ article.cdate|date:"Y년 M d일 D" }}
  </li>
  {% endfor %}
</ul>
<a href="/community/write/"><input type="button" value="메모작성하기"></a>
{% endblock %}