{% extends "base.html" %}
<!-- head tag의 타이틀 -->
{% block title %}{{ article.id }}세부내용{% endblock %}

{% block container %}
<!-- views.py CBV 방식으로 세부 내용 넘길때
-->
<!-- object 또는 article 클래스_이름으로 데이터를 넘김 -->
<!-- <p>{{ object.id }}</p>
<p>{{ article.id }}</p> -->
{{ article }}
<!-- 페이지 콘텐츠 영역 -->
<table>
  <tr>
    <td>id</td>
    <td>{{ article.id }}</td>
  </tr>
  <tr>
    <td>제목</td>
    <td>{{ article.title }}</td>
  </tr>
  <tr>
    <td>작성자</td>
    <td>{{ article.name }}</td>
  </tr>
  <tr>
    <td>세부내용</td>
    <td> {{ article.contents }}</td>
  </tr>
  <tr>
    <td>URL</td>
    <td>{{ article.url }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ article.email }}</td>
  </tr>
  <tr>
    <td>작성 날짜</td>
    <td>{{ article.cdate }}</td>
  </tr>
</table>
{% endblock %}